.container {
    padding-top: 4rem;
}

.card {
    background-repeat: no-repeat;
}

.card-body {
    opacity: 0;
    height: 200px;
    gap: 2rem;
}

.card-body a {
    font-size: medium;
    color: white;
    text-decoration: solid;
}
 .card-body p {
    color: white;
 }

.card-body:hover {
    background-color: rgb(159, 208, 201);
    opacity: 80%;
    transition: opacity 0.5s;  
}

.image-size {
    opacity: 80%;
}
