.container {
    padding-top: 4rem;
}

.card {
    width: 18rem;
}

.card-body {
    background-color: aqua;
}

.card a {
    font-size: medium;
    color: #333;
}

.pad {
    padding: 1rem;
}

.card:hover {
    background-color: #777;
}

.card-body:hover {
    background-color: rgb(186, 181, 181);
}

.image-size {
    width: 18rem;
    opacity: 80%;
}
