.container {
    padding-top: 4rem;
}

.card {
    background-repeat: no-repeat;
}

.card-body {
    opacity: 0;
    height: 200px;
}

.card a {
    font-size: medium;
    color: white;
    font-size: x-large;
    text-decoration: solid;

}


.card-body:hover {
    background-color: rgb(159, 208, 201);
    opacity: 80%;
    transition: opacity 0.5s;  
}

.image-size {
    opacity: 80%;
}
