* {
    box-sizing: boredr-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

.nav {
    /* background-color: #dad9dfed;; */
    /* color: black; */
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: stretch;
    /* gap: 2rem; */
}

.nav h1 {
    padding-left: 50px;
    margin: 20px;
}   

/* .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: larger;
    padding-right: 30px;
} */

/* .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
} */

.nav li:hover {
    background-color: rgb(159, 208, 201);
}