* {
    box-sizing: boredr-box;
    font-family: 'Times New Roman', Times, serif;
}

/* body {
    margin: 0;
} */

.nav {
    align-items: stretch;
}

.nav h1 {
    padding-left: 50px;
    margin: 20px;
}   

.nav li:hover {
    background-color: rgb(159, 208, 201);
}